[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
